[submodule "ARX_X5"]
	path = ARX_X5
	url = git@github.com:xianzeYao/TJURLLAB-ARX_X5.git

[submodule "ARX_all_in_one_readme"]
	path = ARX_all_in_one_readme
	url = https://github.com/ARXroboticsX/ARX_all_in_one_readme.git
